@{
    ViewData["Title"] = "Feedback Form";
}
<h2>Feedback List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Mobile No</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Feedback in Model)
        {
            <tr>
                <td>@Feedback.Customer_ID</td>
                <td>@Feedback.Name</td>
                <td>@Feedback.Email_Id</td>
                <td>@Feedback.Mobile_No</td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create")" class="btn btn-primary">Add New Feedback</a>
